{
  "env": {
    "browser": 1
  },

  "globals": {
    "angular": 1,
    "firebase": 1
  },

  "rules": {
    "no-warning-comments": 0,
    "quote-props": 0,
    "require-jsdoc": 0,
    "valid-jsdoc": 0,
    "no-undef": 0
  }
}
