#welcome-user-display {
  font-size: small;
  padding-top: 7px;
}

.registration-buttons {
  width: 90%;
}

.facebook-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 250px !important;
}
