.registration-buttons {
  width: 90%;
}

.facebook-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px !important;
  padding-top: 10px;
}

.google-button {
  width: 305px;
  padding-top: 10px;
}

.or-separator {
  padding-top: 10px;
}
